body{
   /*border:1px solid rgb(0, 0, 0);*/
    width: 100%;
    margin: auto;
}
header{ /*верхний колонтитул*/  /*päise stiil*/
    background-image:url(pilt.jpg) ;
    background-size: cover;
    background-position: center bottom -35px ;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    height: 740px;
}
table{
    background-color:white;
    width: 90%;
    height: 80px;
    /*position:fixed;*/
    margin: auto;
    margin-top:0%;
    margin-left:4.8%;  
    box-shadow: 0px 10px 50px white;
    
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 16pt;

}
.roog{
    background-color:rgb(129,3,31);
}
a{
    text-decoration: none;
}
h4{
    color:white;
}
#block1{
    width: 100%;
    height: 1150px;
    margin-top: 2%;
    border-bottom:rgb(130, 21, 9);
    border-bottom-style: dashed;
    display: flex;
}
#roog1{
    margin-top:0%;
    margin-left: 2%;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 25pt;
    /*border:2px solid rgb(47, 30, 205);*/
}
.pilt1{
    width: 667px;
    height: 1000px;
    margin-left: 0%;
    background-size: cover;
}
#koostisosad1{
   /*border: 2px solid red;*/
   margin-top:0%;
   margin-left: 2%;
   width: 46%;
   font-family:'Times New Roman', Times, serif;
   font-size: 14pt;
   line-height: 26.3px;
}
.head{
    font-size: 22pt;
    text-align: center;
}
.nool1{
    font-size: 60pt;
    margin-top: 68%;
}
.arrowup{
    width: 100%;
    height: 50px;
    color:rgb(130, 21, 9);
}
#block2{
    width: 100%;
    height: 780px;
    margin-top: 5%;
    border-bottom:rgb(130, 21, 9);
    border-bottom-style: dashed;
    display: flex;
}
#roog2{
    margin-top:0%;
    margin-left: 2%;
    width: 35%;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 25pt;
    /*border:2px solid rgb(47, 30, 205);*/
}
.pilt2{
    width: 100%;
    height: 650px;
    margin-left: 0%;
    background-size: cover;
}
#koostisosad2{
   /*border: 2px solid red;*/
   margin-top:0%;
   margin-left: 10%;
   width: 46%;
   font-family:'Times New Roman', Times, serif;
   font-size: 14pt;
   line-height: 26.3px;
}
.nool2{
    font-size: 60pt;
    margin-top: 43.8%;
}
#block3{
    width: 100%;
    height: 720px;
    margin-top: 5%;
    border-bottom:rgb(130, 21, 9);
    border-bottom-style: dashed;
    display: flex;
}
#roog3{
    margin-top:0%;
    margin-left: 2%;
    width: 43%;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 25pt;
    /*border:2px solid rgb(47, 30, 205);*/
}
.pilt3{
    width: 100%;
    height: 550px;
    margin-left: 0%;
    background-size: cover;
}
#koostisosad3{
   /*border: 2px solid red;*/
   margin-top:0%;
   margin-left: 2%;
   width: 46%;
   font-family:'Times New Roman', Times, serif;
   font-size: 14pt;
   line-height: 26.3px;
}
.nool3{
    font-size: 60pt;
    margin-top: 40%;
}

#block4{
    width: 100%;
    height: 720px;
    margin-top: 5%;
    border-bottom:rgb(130, 21, 9);
    border-bottom-style: dashed;
    display: flex;
}
#roog4{
    margin-top:0%;
    margin-left: 2%;
    width: 43%;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 25pt;
    border:2px solid rgb(47, 30, 205);
}
#uusFail{
    margin-top: 0%;
    height: 550px;
    background-color: rgb(132, 163, 168);
    border:2px solid white;
    border-style:dashed;
    border-width: 5px;
}

#myfile{
    /*border:3px solid rgb(247, 0, 255);*/
    margin-top:40%;
    text-align: center;
}
#koostisosad4{
   /*border: 2px solid red;*/
   margin-top:0%;
   margin-left: 2%;
   width: 46%;
   font-family:'Times New Roman', Times, serif;
   font-size: 14pt;
   line-height: 26.3px;
}
.nool4{
    font-size: 60pt;
    margin-top: 40%;
}

footer{ /*нижний колонтитул*/ /*jaluse stiil*/
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
    margin-top: 2%;
    padding-top:10px;
    height: 70px;
}

a:hover{
    color: red;
}
td :hover{
    font-size: 20pt;
}

